#grid {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}

.square {
  position: absolute;
}

#answer {
  position: absolute;
  padding-top: 30px;
  padding-left: 50px;
}

.App {
  text-align: center;
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
